.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
}
.header-left img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header-left {
  display: flex;
}

.header-search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background: #eef3f8;
}

.header-search input {
  border: none;
  outline: none;
  background: none;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
